.formulario {
    font-size: 26px;
}
.teacher {
    padding: 5% 20%;
    background-color: #003f72;
    p {
        color: white;
    }
    img {
        align-items: center;
        margin-bottom: 5%;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .form {
        padding: 5%;
        border: 1px solid #eaab00;
        background-color: white;
        border-radius: 20px;
        mat-form-field {
            width: 100%;
        }
        mat-icon {
            color: #003f72;
        }
        button {
            background-color: #eaab00;
            color: #003f72;
        }
        #text-area {
            background-color: #003f72;
        }
    }
    .cincuenta {
        font-size: 26px;
        color: #eaab00;
    }
}
hr {
    color: #eaab00;
    background-color: #eaab00;
}
@media (min-width: 320px) and (max-width: 480px) {
    .teacher {
        padding: 5%;

        .form {
            padding: 20px;
        }
    }
}
