<hr class="m-5">
<div class="container" id="table-hitos">
    <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <div class="">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
                <td mat-cell *matCellDef="let row">
                    <mat-form-field>
                        <mat-label>Titulo </mat-label>
                        <input matInput [value]="row.title" (keyup)="handleKeyUp($event, row.title, 'title', row)" #input>
                    </mat-form-field>

                </td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                <td mat-cell *matCellDef="let row">
                    <mat-form-field>
                        <mat-label>Descripción</mat-label>
                        <textarea matInput [value]="row.description" rows="5" (keyup)="handleKeyUp($event, row.description, 'description', row)"></textarea>
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="date" class="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Año </th>
                <td mat-cell *matCellDef="let row">
                    <mat-form-field>
                        <mat-label>Año</mat-label>
                        <input matInput type="number" [value]="row.date" (keyup)="handleKeyUp($event, row.date, 'date', row)" #input>
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagen </th>
                <td mat-cell *matCellDef="let row">
                    <img [src]="row.image" [alt]="row.title">
                    <br>
                    <span>{{row.id}} </span>
                    <input id="file" type="file" class="form-control" (change)="onUploadImage($event, row)">
                </td>
            </ng-container>
            <ng-container matColumnDef="video">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Video </th>
                <td mat-cell *matCellDef="let row">
                    <video width="320" height="240" controls *ngIf="row.video">
                        <source [src]="row.video" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <br>
                    <input id="file" type="file" class="form-control" (change)="onUploadVideo($event, row)">
                </td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let row">
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>