<router-outlet></router-outlet>
<!-- <footer class="p-3">
    <div class="row">
        <div class="col-md text-center">Copyright 2021. Universidad Técnica Particular de Loja</div>
        <div class="col-md text-right">
            Redes sociales
        </div>
    </div>
</footer> -->